*{
    box-sizing: border-box;
}

body{
    background: #728b02;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: o;
    min-height: 100vh;
    
}
.quiz-container
{
    width: 500px;
    background-color: rgb(165, 212, 90);
    border-radius: 10px;
    box-shadow:15px 10px  5px #606e27 ;
    overflow: hidden;
    
   
}
.quizhead
{
    padding:20px 20px 60px 20px;
}



ul li{
    list-style: none;
    padding: 7px;
}
.question
{
    padding-left: 10px;
}
button
{
    background-color:rgb(194, 209, 62);
    color: rgb(7, 7, 7);
    padding-top: 10px;
    width:500px;
    border: #8fa537;
    display: block;
    padding: 20px;
    font-size:large;
}
button:hover{
    cursor: pointer;
    background-color: #7a9909;
}
h2{
    margin: 0;
    text-align: center;
    padding: 1rem;
}
